@model List<BusinessObjects.DTO.BookCart>
@{
	ViewData["Title"] = "Cart";
}
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="cart-heading">Cart</h1>
				<form action="#" id="listCart"> </form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/cart.js"></script>
	<script src="~/js/cartdetail.js"></script>
}