@{
	ViewData["Title"] = "Home Page";
}

<!-- header end -->
<div class="slider-area">
	<div class="slider-active owl-carousel">
		<div class="single-slider single-slider-book1 bg-img" style="background-image: url('@Url.Content("~/img/product/book/2.png")')">
			<div class="container">
				<div class="slider-animation slider-content-book fadeinup-animated">
					<h1 class="animated"><span>Knowledge</span> is</h1>
					<h2 class="animated">Power.</h2>
					<p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="shop.html">More Books</a>
					@* asp-controller="Home" asp-action="Shop" *@
				</div>
			</div>
		</div>
		<div class="single-slider single-slider-book1 bg-img" style="background-image: url('@Url.Content("~/img/product/book/4.png")')">
			<div class="container">
				<div class="slider-animation slider-content-book fadeinup-animated">
					<h1 class="animated"><span>Knowledge</span> is</h1>
					<h2 class="animated">Power.</h2>
					<p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="shop.html">More Books</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner area start -->
<div class="banner-area pt-120 pb-110">
	<div class="container">
		<div class="row" id="quickBook">
			<div class="col-md-6">
				<div class="book-banner-wrapper mr-20">
					<img src="~/img/banner/13.jpg" alt="">
					<div class="banner-book-style1">
						<h3>Big Sell For <br>December</h3>
						<h2>50% OFF</h2>
						<a class="banner-book-style-btn" href="product-details.html">Buy Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="book-banner-wrapper ml-20">
					<img src="~/img/banner/14.jpg" alt="">
					<div class="banner-book-style2 text-center">
						<h2>Learn More </h2>
						<img src="~/img/icon-img/2.png" alt="">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<a class="banner-book-style-btn" href="product-details.html">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner area end -->
<!-- best product area start -->
<div class="best-product-area pb-15">
	<div class="pl-100 pr-100">
		<div class="container-fluid">
			<div class="section-title-3 text-center mb-40">
				<h2>Best Products</h2>
			</div>
			<div class="best-product-style">
				<div id="genre_name" class="product-tab-list2 text-center mb-95 nav product-menu-mrg" role="tablist">
					@*Javascript*@
				</div>

				<div class="tab-content" id="books_in_genre">
					@*Javascript*@
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best product area end -->
<!-- top month area start -->
<div class="top-month pb-120">
	<div class="container">
		<div class="section-title-3 text-center mb-70">
			<h2>Top Writer In this Month</h2>
		</div>
		<div class="row">
			<div class="col-md-4" id="theBestAuthor">
				@*Javascript*@
			</div>


			<div class="col-md-8">
				<div class="book-list-hover">
					<div class="book-list-active owl-carousel" id="topAuthors">
						@*Javascript*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- top month area end -->
<!-- testimonials area start -->
<div class="testimonials-area bg-img pt-145 pb-160" style="background-image: url('@Url.Content("~/img/product/book/3.png")')">
	<div class="container">
		<div class="testimonials-active owl-carousel">
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>tayeb rayed</h4>
				<span>ui ux - Designer</span>
			</div>
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>KB Arif Vashar</h4>
				<span>ui ux - Designer</span>
			</div>
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>KB Arif Vashar</h4>
				<span>ui ux - Designer</span>
			</div>
		</div>
	</div>
</div>
<!-- testimonials area end -->
@section Scripts {
	<script>
		const api = "@ViewBag.api";
		localStorage.setItem("apiUrl", api);

		if ($("#userId").length > 0) {
			if (!localStorage.getItem("userId")) {
				localStorage.setItem("userId", $("#userId").val());
				window.location.reload();
			}
		} else {
			localStorage.removeItem("userId");
		}
	</script>
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/homepage.js"></script>
}
