@model IEnumerable<BusinessObjects.Book>
@{
	ViewData["Title"] = "Shop";
}
<!-- header end -->
<div class="breadcrumb-area pt-205 breadcrumb-padding pb-210" style="background-image: url('@Url.Content("~/img/product/book/1.png")')">
	<div class="container-fluid">
		<div class="breadcrumb-content text-center">
			<h2> shop</h2>
			<ul>
				<li><a asp-controller="Home" asp-action="Index">home</a></li>
				<li>shop</li>
			</ul>
		</div>
	</div>
</div>
<div class="shop-page-wrapper shop-page-padding ptb-100">
	<div class="container-fluid">
		<div class="row gy-5">
			<div class="col-lg-3 order-2 order-lg-1">
				<div class="shop-sidebar mr-50">
					<div class="sidebar-widget mb-50">
						<h3 class="sidebar-title">Search Products</h3>
						<div class="sidebar-search">
							<form>
								<input placeholder="Search Products..." name="title" id="search" type="text">
								<button><i class="ti-search"></i></button>
							</form>
						</div>
					</div>
					<div id="genres" class="sidebar-widget mb-45"></div>
					<div id="publishers" class="sidebar-widget mb-45"></div>
					<div id="languages" class="sidebar-widget mb-45"></div>
					<div id="authors" class="sidebar-widget mb-45"></div>
				</div>
			</div>
			<div class="col-lg-9 order-1 order-lg-2">
				<div class="shop-product-wrapper res-xl res-xl-btn">
					<div class="shop-bar-area">
						<div class="shop-bar pb-60">
							<div class="shop-found-selector">
								<div class="shop-found" id="found">
									<p><span>23</span> Book Found of <span>50</span></p>
								</div>
							</div>
							<div class="shop-filter-tab">
								<div class="shop-tab nav" role=tablist>
									<a class="active" href="#grid-sidebar1" data-bs-toggle="tab" onclick="" role="tab" aria-selected="false">
										<i class="ti-layout-grid4-alt"></i>
									</a>
									<a href="#grid-sidebar2" data-bs-toggle="tab" role="tab" aria-selected="true">
										<i class="ti-menu"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="shop-product-content tab-content">
							<div id="grid-sidebar1" class="tab-pane fade active show">
								<div class="row" id="result_search_1">
									@if (Model.Count() > 0)
									{
										@foreach (var book in Model)
										{
											<div class="col-lg-6 col-md-6 col-xl-3">
												<div class="product-wrapper mb-30">
													<div class="product-img">
														<a href="/Detail/@book.Id">
															<img src="/img/product/book/@book.Image" alt="">
														</a>
														<div class="product-action">
															<a class="animate-left" title="Wishlist" href="#">
																<i class="pe-7s-like"></i>
															</a>
															<a class="animate-top" title="Add To Cart" href="#">
																<i class="pe-7s-cart"></i>
															</a>
															<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
																<i class="pe-7s-look"></i>
															</a>
														</div>
													</div>
													<div class="product-content">
														<h4><a href="#">@book.Title</a></h4>
														<span>@book.SellingPrice</span>
													</div>
												</div>
											</div>
										}
									}									
								</div>
							</div>
							<div id="grid-sidebar2" class="tab-pane fade">
								<div class="row" id="result_search_2">
									@*javascript*@
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pagination-style mt-30 text-center">
					<ul>
						<li><a href="#"><i class="ti-angle-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">19</a></li>
						<li class="active"><a href="#"><i class="ti-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/shop.js"></script>
}

