@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewData["Title"] = "Register";
}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url('@Url.Content("~/img/bg/breadcrumb.jpg")')">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>register</h2>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li> register </li>
            </ul>
        </div>
    </div>
</div>
<!-- register-area start -->
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 col-xl-6 ms-auto me-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form id="frmRegister" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div>
                                    <label class="form-label" for="email"></label>
                                    <input class="form-control" asp-for="Input.Email" id="email" placeholder="Email" autocomplete="off" aria-required="true" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div>
                                    <label class="form-label" for="firstname"></label>
                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="off" id="firstname" placeholder="FirstName" aria-required="true" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div>
                                    <label class="form-label" for="lastname"></label>
                                    <input asp-for="Input.LastName" class="form-control" autocomplete="off" id="lastname" placeholder="FirstName" aria-required="true" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div>
                                    <label class="form-label" for="password"></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="off" id="password" placeholder="Password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div>
									<label class="form-label" for="confirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" id="confirmPassword" placeholder="ConfirmPassword" aria-required="true" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>                                
                                <div>
                                    <label class="form-label" for="address"></label>
                                    <input asp-for="Input.Address" class="form-control" autocomplete="off" id="address" placeholder="Address" aria-required="true" />
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                                </div>
                                <div>
                                    <label class="form-label" for="phone"></label>
                                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="off" id="phone" placeholder="Phone Number" aria-required="true" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
